body {
            text-align: center;
            background-color: #96ce14;
            color: rgb(9, 252, 211);
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        
        .drum-kit {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;
            margin: 40px auto;
            max-width: 600px;
        }

        .drum-btn {
            width: 100px;
            height: 100px;
            background: linear-gradient(145deg, #db4307, #2e2e2e);
            border: none;
            border-radius: 12px;
            color: rgb(11, 235, 216);
            font-size: 22px;
            font-weight: bold;
            box-shadow: 5px 5px 10px #1f1f1f, 
                        -5px -5px 10px #353535;
            cursor: pointer;
            transition: all 0.2s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

         .drum-btn:hover {
            background: linear-gradient(145deg, #424242, #cf0b0b);
        }
        
        .drum-btn:active {
            transform: scale(0.95);
            box-shadow: 2px 2px 5px #1f1f1f;
        }
        
        .drum-btn.active {
            transform: scale(0.95);
            box-shadow: inset 2px 2px 5px #cec10f, 
                        inset -2px -2px 5px #dbd80b;
            color: #ffcc00;
        }
        
         .sound-label {
            font-size: 14px;
            margin-top: 8px;
            color: #d40a68;
            font-weight: normal;
        }
        
        h1 {
            color: #f0380a;
            margin-bottom: 10px;
        }
        
        p {
            color: #303bd6;
            margin-bottom: 30px;
        }