.list-label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

.list-value {
  display: inline-block;
  width: 200px;
  text-align: left;
  margin-right: 10px;
  font-weight: normal;
}

.person-avatar {
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  border: 1px solid #ccc; 
  margin-right: 10px;
  margin-bottom: 10px;
}

.person-name {
  font-size: 20px; 
  font-weight: bold;
  margin-bottom: 10px;
}

.list-type {
  font-size: 8pt; /* Slightly larger */
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

.person {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.person-list-entry {
  
}
.person-list-entry ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.person-list-entry li {
  display: inline-block; 
  margin-bottom: 10px;
}

.person-remove-x {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 8pt;
  cursor: pointer;
  padding: 5px;
  padding-right: 25px;
  color: #ccc;
}
