nav {
    background-color: white;
    width: 100%;
    position: relative;
    padding: 1rem;
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 900px;
    margin: 0 auto;
}

.navbar-logo img {
    width: 100px;
    height: auto;
}
